* {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    width: 960px;
}

/* #container > div {
    width: 60px;
    height: 60px;
    background-color: rgb(255, 228, 196);
} */